.git
.railway

.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

.venv
venv
__pycache__
*.pyc

node_modules
frontend/node_modules
frontend/dist

*.log
backend/*.log
frontend/*.log
